<section class="row articles">
  <% @articles.each do |article| %>
    <article class="col-11 push-center article">
      <h3 class="heading"><%= link_to article.title, article_path(article) %></h3>
      <p><%= article.content %></p>
    </article>
  <% end %>
</section>
