<section class="row articles">
  <% @articles.each do |article| %>
    <article class="col-11 push-center article">
      <h3 class="heading"><%= link_to article.title, article_path(article) %></h3>
      <%= truncate_html(Kramdown::Document.new(article.content).to_html.html_safe, length: 140, omission: ' …') %>
    </article>
  <% end %>
</section>
