<div class="row article">
  <div class="col-11 push-center">

    <div class="row gutters between">
      <div class="col col-9">
        <h2 class="heading"><%= @article.title %></h2>
      </div>
      <div class="col push-right">
        <%= link_to "<i class='material-icons md-18'>mode_edit</i>".html_safe, edit_article_path(@article), :class => "button secondary small", :role => "button" %>
        <%= link_to "<i class='material-icons md-18'>delete</i>".html_safe, articles_path, :class => "button secondary small outline", :role => "button", data: {content: 'Are you sure?'} %>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-12 big">
        <%= Kramdown::Document.new(@article.content).to_html.html_safe %>
      </div>
    </div>
  </div>
</div>
